<div class="container">
  <div class="center">
    <div class="top">
      <h1>Le meilleur restaurant</h1>
      <p>On mange vraiment super bien</p>
    </div>
    <div class="bot">
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'Présentation')">Présentation</button>
      <button class="tablinks" onclick="openTab(event, 'Menu')">Menu</button>
      <button class="tablinks" onclick="openTab(event, 'Equipe')">Equipe</button>
    </div>
    <div id="Présentation" class="tabcontent">
      <h3>Présentation</h3>
      <p>Présentation du resturant.</p>
    </div>

    <div id="Menu" class="tabcontent">
      <h3>Menu</h3>
      <p>Menu du restaurant.</p>
    </div>

    <div id="Equipe" class="tabcontent">
      <h3>Equipe</h3>
      <p>Equipe du restaurant.</p>
    </div>
    </div>
  </div>
</div>